body {
    margin: 50px;
    border: 50px;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  background-color: rgb(145, 118, 140);

  }

  h1, p, label {
      color: rgb(128, 8, 68);
      font-family: cursive;
  }

  
.image img {
    border: 6px dotted yellow;
    border-radius: 4px;
    width: 100%;
  }
  
  

  .buttons {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      
      align-items: stretch;
  }

  #lista {
      margin: 50px 50px;
  }